.editor-wrapper {
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 1200px) {
  .editor-wrapper {
    width: 65%;
  }
}

@media (max-width: 992px) {
  .editor-wrapper {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .editor-wrapper {
    width: 85%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: white;
  border-bottom: 4px solid #fff34e;
  margin-bottom: 32px;
  height: 64px;
  box-sizing: border-box;
}

.action-grp {
  gap: 8px;
  display: flex;
}

.navbar-btn {
  color: var(--text-color-dark);
  background: var(--button-background-dark);
  border: 1px solid var(--border-color-dark);
  border-radius: 4px;
  appearance: none;
  vertical-align: middle;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  outline: none;
  padding: 6px 10px;
  text-decoration: none;
  font-family: "firacode", monospace;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;

  &[data-pressed] {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
    background: var(--button-background-pressed-dark);
    border-color: var(--border-color-pressed-dark);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color-dark);
    outline-offset: -1px;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 8px;
    margin-bottom: 16px;
  }

  .action-grp {
    gap: 4px;
  }

  .navbar-btn {
    padding: 4px 8px;
    font-size: 0.875rem;
  }


  .editor-wrapper {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 8px;
  }

  .action-grp {
    margin-top: 8px;
    width: 100%;
    justify-content: space-between;
  }

  .editor-wrapper {
    width: 100%;
  }
}